name: Go CI/CD Pipeline

on:
    push:
        branches: ["main", "origin/master", "master"]
        paths-ignore:
            -   '**.md'
            -   'docs/**'
            -   'LICENSE'
    pull_request:
        branches: ["main", "origin/master", "master"]
        paths-ignore:
            -   '**.md'
            -   'docs/**'
            -   'LICENSE'

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup Go
                uses: actions/setup-go@v5
                with:
                    go-version: '1.24'
            
            -   name: Cache Go modules
                uses: actions/cache@v4
                with:
                    path: ~/go/pkg/mod
                    key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
                    restore-keys: |
                        ${{ runner.os }}-go-

            -   name: Install dependencies
                run: go mod download

            -   name: Run Unit Tests and Collect Coverage
                run: go test -v -race -cover=atomic -coverprofile=coverage.out ./...
                working-directory: ./
            
            -   name: Enforce Minimum Coverage
                uses: vladopajic/go-test-coverage@v2
                with:
                    profile: coverage.out
                    config: ./.testcoverage.yml

            -   name: Print Coverage Summary
                run: go tool cover -func=coverage.out

            -   name: Upload Test Coverage Artifact
                uses: actions/upload-artifact@v4
                with:
                    name: code-coverage-report
                    path: coverage.out
                    retention-days: 5

            